$button-color: #56cb56;
$button-text-color: #fff;
$brown-cell: #dd9050;
$white-cell: #fff;
$visited-cell: #dda0dd;
$board-border-color: $brown-cell;
$game-over-color: #ff0000;
$possible-move-color: #90ee90;

@mixin cell-size($size) {
  width: $size;
  height: $size;
}
