/* src/app/controls/controls.component.scss */
@import '../../variables';

// Остальной код компонента
.controls {
  margin-top: 20px;
  text-align: center;

  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: $button-text-color;
    background-color: $button-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($button-color, 10%);
    }
  }

  p {
    margin-top: 10px;
    font-size: 1.125rem;

    &:first-child {
      color: $game-over-color; // Используйте подходящий цвет для сообщения о начале игры
    }

    &:last-child {
      margin-top: 10px;
      color: $game-over-color; // Используйте подходящий цвет для сообщения о победе
    }
  }
}
